*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

.content{
    color: white;
    margin-top: 100px;
    text-align: center;
}

